html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;

  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;

  margin: 0 auto;
}

.visibility-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }

  .container {
    width: 768px;
  }
}
