.about-us {
  @include mobile-container;

  padding-top: 44px;
  padding-bottom: 30px;

  @include mobile-padding;
}

.about-us__title {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 768px;

    @include tablet-padding;
    margin: 0 auto;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $dekstop-width) {
  .about-us {
    width: 1050px;

    padding-left: 175px;
    padding-right: 175px;
    margin: 0 auto;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
