.about-us {
  padding-top: 30px;
  padding-bottom: 30px;

  @include mobile-padding;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  margin-bottom: 30px;
}
