.advantage-list {
  display: flex;
  flex-direction: column;

  @include list-style;
}

.advantage-list__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  padding-top: 60px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
