.advantage-list {
  @include list-reset;
}

.advantage-list__item {
  position: relative;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  padding-top: 54px;
  margin-bottom: 30px;

  &::before {
    position: absolute;

    content: "";

    top: 0;
    left: 0;

    background-repeat: no-repeat;
  }
}

.advantage-list__item-wrapper ul {
  @include list-reset;
}

.advantage-list__flower-icon::before {
  top: 2px;
  left: 9px;

  width: 32px;
  height: 37.3px;

  background-image: url("../img/icon-feature-flower.svg");
}

.advantage-list__money-icon::before {
  top: 2px;

  width: 47px;
  height: 27px;

  background-image: url("../img/icon-feature-money.svg");
}

.advantage-list__heart-icon::before {
  top: 5px;
  left: 7px;

  width: 33px;
  height: 28px;

  background-image: url("../img/icon-feature-heart.svg");
}

.advantage-list__ball-icon::before {
  top: 2px;
  left: 3px;

  width: 34px;
  height: 34px;

  background-image: url("../img/icon-feature-ball.svg");
}

.advantage-list__rocket-icon::before {
  top: 2px;
  left: -5px;

  width: 54px;
  height: 23px;

  background-image: url("../img/icon-feature-rocket.svg");
}

.advantage-list__gift-icon {
  margin-bottom: 0;

  &::before {
    top: -1px;
    left: 3px;

    width: 33px;
    height: 33px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .advantage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage-list__item-wrapper {
    width: 50%;
  }

  .advantage-list__item {
    width: auto;

    font-size: 20px;
    line-height: 22px;

    padding-top: 73px;
  }

  .advantage-list__flower-icon::before {
    top: 19px;
  }

  .advantage-list__money-icon {
    padding-top: 81px;

    &::before {
      top: 28px;
    }
  }

  .advantage-list__heart-icon {
    padding-top: 81px;
    margin-bottom: 0;

    &::before {
      top: 32px;
      left: 8px;
    }
  }

  .advantage-list__ball-icon::before {
    top: 22px;
  }

  .advantage-list__rocket-icon {
    padding-top: 81px;

    &::before {
      top: 31px;
    }
  }

  .advantage-list__gift-icon {
    padding-top: 81px;
    margin-bottom: 0;

    &::before {
      top: 29px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage-list {
    padding-left: 10px;
  }
}
