.button {
  min-height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  word-wrap: break-word;
  word-break: break-all;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid #444444;

  padding: 0;
}

.button--order {
  width: 260px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}

.button--order-width {
  width: 192px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;

  text-transform: uppercase;
  text-decoration: none;

  margin: 0 auto;
}

.button-reviews {
  width: 260px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
}

.button--feedback {
  width: 260px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;

  margin: 0 auto;
}

.button--modal {
  width: 260px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #63d1bb;

  border: none;
}

@media (min-width: $tablet-width) {
  .button--order {
    width: 292px;
  }

  .button--order-width {
    width: 584px;

    margin: 0;
    margin-left: 5px;
  }

  .button-reviews {
    width: 175px;

    order: 2;

    margin-top: 2px;
    margin-bottom: 45px;
  }

  .button--feedback {
    width: 230px;
  }

  .button--modal {
    width: 350px;

    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .button {
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: #444444;
      color: rgba(255, 255, 255, 1);

      border: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .button--feedback {
    margin: 0;
    margin-left: 8px;
  }

  .button--order-width {
    width: 230px;
  }

  .button-reviews {
    margin-top: 9px;
    margin-right: -7px;
  }
}
