.catalog {
  @include mobile-container;
  @include mobile-padding;
  padding-top: 30px;
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;

    @include tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
