.contacts {
  padding-top: 52px;
  padding-bottom: 38px;
}

.contacts__address {
  @include mobile-container;
  @include mobile-padding;

  padding-bottom: 35px;
}

.contacts__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  margin: 0;
  margin-bottom: 26px;
}

.contacts__table {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: #444444;
}

.contacts__table tr {
  display: flex;

  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__field {
  width: 75px;
  max-width: 75px;
  word-wrap: break-word;
}

.contacts__value {
  width: 185px;
  max-width: 185px;
  word-wrap: break-word;

  line-height: 29px;
}

.contacts__mail-link {
  position: relative;

  text-decoration: none;

  color: #000000;
}

.contacts__map {
  width: 320px;
  height: 457px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-size: contain;

  margin: 0 auto;
  margin-bottom: 38px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__map iframe {
  width: 320px;
  height: 457px;

  border: none;
}

.contacts__feedback {
  @include mobile-container;
  @include mobile-padding;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;

    padding: 0;
    padding-top: 82px;
    padding-bottom: 57px;
    margin: 0 auto;
  }

  .contacts__address {
    width: 768px;

    @include tablet-padding;
  }

  .contacts__title {
    position: relative;

    font-size: 43px;
    line-height: 50px;

    margin-bottom: 46px;
    margin-left: -5px;

    &::before {
      position: absolute;

      content: "";

      top: -15px;
      right: 3px;

      width: 46.7px;
      height: 81.7px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__table {
    width: 668px;

    font-size: 17px;
    line-height: 30px;

    margin-bottom: 21px;
    margin-left: -5px;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__table tr {
    width: 334px;
  }

  .contacts__field {
    width: 77px;
    max-width: 77px;
  }

  .contacts__value {
    width: 230px;
    max-width: 240px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;

    background-image: url("../img/map-tablet@1x.jpg");

    margin-bottom: 55px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__map iframe {
    width: 768px;
  }

  .contacts__feedback {
    width: 768px;

    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1150px;

    @include tablet-padding;
    padding-top: 167px;
    padding-bottom: 104px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;

    padding-left: 175px;
  }

  .contacts__address {
    width: 350px;

    padding: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -10px;
      left: -107px;
    }
  }

  .contacts__table {
    width: 350px;
  }

  .contacts__table tbody {
    display: block;
  }

  .contacts__table tr {
    width: 350px;
  }

  .contacts__mail-link {
    padding-bottom: 5px;

    &::before {
      position: absolute;

      content: "";

      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #46c1ae;
    }

    &:focus,
    &:hover {
      color: rgba(70, 193, 174, 1);
    }

    &:active {
      color: rgba(70, 193, 174, 0.3);
    }

    &:active::before {
      background-color: rgba(70, 193, 174, 0.3);
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;

    background-image: url("../img/map-desktop@1x.jpg");

    margin: 0;
    margin-top: -70px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__map iframe {
    width: 525px;
  }

  .contacts__feedback {
    width: 350px;

    padding: 0;
    margin: 0;
    margin-top: -52px;
  }
}
