.copyright {
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright__text {
  display: inline-block;

  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  margin-right: 30px;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }
}

// @media (min-width: $dekstop-width) {
//
// }
