.copyright {
  text-align: center;

  padding-top: 23px;
  padding-bottom: 20px;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}

.copyright__link-img {
  display: inline-block;

  vertical-align: middle;

  fill: #63d1bb;

  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    position: relative;

    display: block;

    width: 184px;

    text-align: left;

    padding-top: 10px;
  }

  .copyright__link-img {
    position: absolute;

    top: 6px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    svg {
      fill: #63d1bb;
    }

    svg:focus,
    svg:hover {
      fill: #44cbba;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
