.copyright {
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright__link {
  display: inline-block;

  vertical-align: middle;

  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}

.copyright__link-img {
  display: inline-block;

  vertical-align: middle;

  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }
}

@media (min-width: $dekstop-width) {
  .copyright__link {
    &:focus,
    &:hover {
      path {
        fill: #63d1bb;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
