.feedback {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mobile-padding;
}

.feedback__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;

  text-transform: uppercase;
  text-decoration: none;
}
