.main-nav {
  background-color: #ffffff;
}

.main-nav__logo {
  display: block;

  height: 80px;

  text-align: center;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  padding-top: 22px;
  padding-bottom: 22px;
}

.main-nav__delivery {
  display: none;
}

.main-nav__list {
  @include list-reset;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    position: relative;

    height: 80px;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__toggle {
    display: none;

    position: absolute;

    z-index: 50;

    top: 50%;
    right: 31px;

    transform: translateY(-50%);

    background-color: transparent;

    border: none;

    padding: 0;
  }

  .main-nav--closed .main-nav__toggle {
    display: block;

    width: 20px;
    height: 14px;

    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;

    z-index: 10;

    top: 0;
    right: 0;
    left: 0;

    background-color: #ffffff;
  }

  .main-nav--opened .main-nav__toggle {
    display: block;

    width: 20.6px;
    height: 20.6px;

    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: transparent;
  }

  .main-nav__wrapper {
    width: 668px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .main-nav__logo {
    width: 113px;
    height: 88px;

    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;

    border: 0;
    padding: 0;
  }

  .main-nav__logo-image {
    display: block;
  }

  .main-nav__delivery {
    display: block;
    order: 4;

    margin: 0;
    margin-top: 25px;
  }
}

@media (min-width: $dekstop-width) {
  .main-nav__wrapper {
    width: 1050px;
  }

  .main-nav__logo {
    width: 149px;

    order: 2;
  }

  .main-nav__logo[href] {
    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__delivery {
    order: 5;
  }
}
