.main-nav {
  background-color: #ffffff;
}

.main-nav__logo {
  display: block;

  height: 80px;

  text-align: center;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  padding-top: 22px;
  padding-bottom: 22px;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__toggle {
  position: absolute;

  top: 40px;
  right: 40px;

  width: 20.6px;
  height: 20.6px;

  background-image: url("../img/icon-menu-close.svg");
  background-color: transparent;

  border: none;

  padding: 0;
}

.main-nav__delivery {
  display: none;
}

.main-nav__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 668px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: transparent;
  }

  .main-nav__toggle {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .main-nav__logo {
    width: 113px;
    height: 88px;

    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;

    border: 0;
    padding: 0;
  }

  .main-nav__delivery {
    display: block;
    order: 4;

    margin: 0;
  }
}

@media (min-width: $dekstop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__logo {
    width: 149px;

    order: 2;
  }

  .main-nav__delivery {
    order: 5;
  }
}
