.page-header {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;

    height: 90px;

    border-bottom: 1px solid #e7e7e7;
  }

  .page-header__wrapper {
    width: 768px;

    @include tablet-padding;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;

    margin: 0 auto;
  }

  .page-header__wrapper {
    width: 1150px;
  }
}
