.page-main__title-wrapper {
  min-height: 176px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background-color: #f1f1f1;
}

.page-main__title {
  @include mobile-container;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  @include mobile-padding;
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;

  @include mobile-container;
  @include mobile-padding;
  padding-top: 22px;
  margin-bottom: 32px;
}

.page-main__form {
  @include mobile-container;
}

@media (min-width: $tablet-width) {
  .page-main__title-wrapper {
    position: relative;

    padding-top: 94px;
    padding-bottom: 100px;

    &::before {
      position: absolute;

      content: "";

      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-main__title {
    width: 768px;

    font-size: 43px;
    line-height: 50px;

    @include tablet-padding;
  }

  .page-main__description {
    width: 768px;

    font-size: 17px;
    line-height: 30px;

    @include tablet-padding;
    padding-top: 53px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title-wrapper {
    padding-bottom: 120px;
  }

  .page-main__title {
    width: 1150px;

    font-size: 53px;
    line-height: 57px;

    padding-left: 330px;
    padding-right: 315px;
  }

  .page-main__description {
    width: 1150px;

    padding-top: 103px;
    padding-left: 225px;
    padding-right: 225px;
  }
}
