.page-header {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 90px;

    border-bottom: 1px solid #e7e7e7;
  }
  .page-header__wrapper {
    @include tablet-padding;

    margin: 0 auto;
  }
}

@media (min-width: $dekstop-width) {
}
