.preview-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 320px;
  min-height: 373px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;

  padding-top: 90px;
}

.preview-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-align: center;

  margin: 0;
  margin-bottom: 120px;
}

.preview-header__description {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.preview-header__subtitle {
  min-height: 100px;

  display: flex;
  align-items: center;

  text-decoration: none;

  @include mobile-padding;
}

.preview-header__subtitle-text {
  width: 130px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;

  margin: 0;
}

.preview-header__subtitle--interior {
  background-color: #63d1bb;
}

.preview-header__subtitle--toy {
  background-color: #56c3b2;
}

@media (min-width: 768px) {
  .preview-header {
    background-color: #f9f9f9;

    @include tablet-padding;
  }

  .preview-header__wrapper {
    width: 668px;

    background-size: cover;

    margin: 0 auto;
  }

  .preview-header__description {
    flex-direction: row;
  }

  .preview-header__subtitle {
    width: 50%;

    @include tablet-padding;
  }

  .preview-header__subtitle-text {
    width: 167px;

    font-size: 20px;
  }
}

@media (min-width: $dekstop-width) {
  .preview-header__wrapper {
    width: 1050px;
  }

  .preview-header__title {
    font-size: 53px;
    line-height: 57px;

    padding: 0;
  }

  .preview-header__description {
    width: 1050px;
  }
}
