.preview-header {
  background-color: #f9f9f9;
}

.preview-header__wrapper {
  width: 320px;
  min-height: 373px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -128px -19px;
  background-repeat: no-repeat;

  padding-top: 70px;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 587px auto;
    background-position: -132px -24px;
  }
}

.preview-header__title {
  @include mobile-container;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-align: center;

  @include mobile-padding;
  margin-bottom: 122px;
}

.preview-header__subtitle {
  min-height: 103px;

  display: flex;
  align-items: center;

  text-decoration: none;
}

.preview-header__subtitle-text {
  width: 320px;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;

  padding-left: 30px;
  padding-right: 160px;
  margin: 0 auto;
}

.preview-header__subtitle--interior {
  position: relative;

  background-color: #63d1bb;
}

.preview-header__subtitle--toy {
  position: relative;

  background-color: #56c3b2;
}

.preview-header__interior-icon {
  position: absolute;

  top: 50%;
  right: 35px;

  transform: translateY(-50%);

  fill: #3bb09d;
}

.preview-header__toy-icon {
  position: absolute;

  top: 50%;
  right: 27px;

  transform: translateY(-50%);

  fill: #3bb09d;
}

@media (min-width: $tablet-width) {
  .preview-header {
    position: relative;

    &::before {
      position: absolute;

      z-index: 100;

      content: "";

      bottom: -18px;
      left: 0;
      right: 0;

      width: 100%;
      height: 34px;

      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .preview-header__wrapper {
    width: 768px;
    min-height: 746px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-position: -191px -2px;

    @include tablet-padding;
    padding-top: 152px;
    margin: 0 auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .preview-header__title {
    width: auto;

    font-size: 43px;
    line-height: 50px;

    @include tablet-padding;
    margin-bottom: 0;
  }

  .preview-header__description {
    display: flex;
  }

  .preview-header__subtitle {
    width: 50%;
    min-height: 121px;

    align-items: flex-start;

    padding-left: 35px;
    padding-top: 29px;
  }

  .preview-header__subtitle-text {
    width: 167px;

    font-size: 20px;
    line-height: 29px;

    padding: 0;
    margin: 0;
  }

  .preview-header__interior-icon {
    right: 37px;
  }

  .preview-header__toy-icon {
    right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .preview-header {
    padding: 0;
  }

  .preview-header__wrapper {
    width: 1150px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1260px 746px;
    background-position: center;

    padding-left: 0;
    padding-right: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .preview-header__title {
    font-size: 53px;
    line-height: 57px;

    padding: 0;
    padding-left: 175px;
    padding-right: 175px;
  }

  .preview-header__description {
    width: auto;

    align-items: flex-end;

    margin: 0 auto;
  }

  .preview-header__subtitle {
    height: 120px;
    width: 525px;

    &:active h2 {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .preview-header__subtitle--interior,
  .preview-header__subtitle--toy {
    &:focus,
    &:hover {
      min-height: 125px;

      padding-bottom: 5px;
    }
  }
}
