.reviews {
  padding-top: 30px;
  padding-bottom: 40px;
  @include mobile-padding;

  border-bottom: 1px dashed #ececec;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  margin-bottom: 35px;
}

.reviews__item {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  margin: 0;
  margin-bottom: 40px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;

  margin-bottom: 15px;
}

.reviews__author-id {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;

  margin-bottom: 35px;
}

.reviews__toggles {
  width: 260px;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 40px;
}

.reviews__button--previous {
  display: flex;
  align-items: center;

  width: 50px;
  height: 26px;

  background-image: url("../img/icon-left-arrow.svg");

  border: none;
  background-color: transparent;

  margin-right: 40px;
}

.reviews__button--next {
  display: flex;
  align-items: center;

  width: 50px;
  height: 26px;

  background-image: url("../img/icon-right-arrow.svg");

  border: none;
  background-color: transparent;

  margin-left: 40px;
}

.reviews__button {
  padding: 0;
}

.reviews__button::before {
  position: absolute;

  content: "";

  top: 50%;

  transform: translateY(-50%);

  width: 130px;
  height: 50px;

  border: 1px solid #ececec;
  background-color: transparent;

  padding: 0;
}

.reviews__button:first-child::before {
  left: 0;
}

.reviews__button:last-child::before {
  right: 0;

  border-left: none;
}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;

  text-transform: uppercase;
  text-decoration: none;
}
