.search-form {
  position: relative;

  text-align: center;

  border-bottom: 1px solid #ececec;
}

.search-form__text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;

  border: none;

  padding-top: 30px;
  padding-bottom: 30px;
}

.search-form__text::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form__text::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form__text:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form__icon-search::before {
  position: absolute;

  z-index: 5;

  content: "";

  top: 50%;
  left: 30px;

  transform: translateY(-50%);

  width: 17.6px;
  height: 17.6px;

  background-image: url("../img/icon-search.svg");
}

@media (min-width: $tablet-width) {
  .search-form {
    border: none;
  }

  .search-form__icon-search::before {
    position: absolute;

    z-index: 5;

    content: "";

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 17.6px;
    height: 17.6px;

    background-image: url("../img/icon-search.svg");
  }

  .search-form__text:active ~ .search-form__icon-search::before,
  .search-form__text:focus ~ .search-form__icon-search::before {
    display: none;
  }

  .search-form__text {
    position: relative;

    display: block;

    width: 80px;
    height: 90px;

    background-color: transparent;

    padding: 0;
  }

  .search-form__text::-webkit-input-placeholder {
    display: none;
  }

  .search-form__text::-moz-placeholder {
    display: none;
  }

  .search-form__text:-ms-input-placeholder {
    display: none;
  }
}
