.search-form__text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;

  border: none;
}

.search-form__text::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form__text::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.search-form__text:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
