.site-list {
  display: flex;
  flex-direction: row;

  list-style: none;

  padding: 0;
  margin: 0;
}
.site-list__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.site-list__item-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
