.social {
  padding-top: 24px;
  padding-bottom: 19px;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  width: 260px;

  text-align: center;

  @include list-reset;
}

.social__item {
  display: inline-block;

  margin-left: 18px;
  margin-right: 18px;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;

    padding: 0;
  }
}

@media (min-width: $dekstop-width) {
  .social__link {
    display: inline-block;

    &:focus,
    &:hover {
      path {
        fill: #46c1ae;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
