.social {
  padding-top: 24px;
  padding-bottom: 19px;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  width: 260px;

  text-align: center;

  @include list-reset;
}

.social__item {
  display: inline-block;

  margin-left: 18px;
  margin-right: 18px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 150px;

    border: none;

    padding: 0;
    margin-left: 87px;
    margin-top: 7px;
  }

  .social__list {
    width: 140px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .social__item {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 10px;
    margin-left: 93px;
  }

  .social__link {
    display: inline-block;

    &:focus,
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
