.weekly-product {
  position: relative;

  @include mobile-container;

  padding-top: 27px;
  padding-bottom: 25px;

  @include mobile-padding;

  &::before {
    position: absolute;

    content: "";

    left: 0;
    right: 0;
    bottom: -23px;

    width: 320px;
    height: 23px;

    background-image: url("../img/bg-zigzag-line.svg");
  }
}

.weekly-product__title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  margin: 0;
  margin-bottom: 6px;
}

.weekly-product__subtitle {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;

  margin: 0;
  margin-bottom: 25px;
}

.weekly-product__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  margin: 0;
  margin-bottom: 22px;
}

.weekly-product__parameters {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  margin-bottom: 23px;
}

.weekly-product__parameters tr {
  display: block;

  border-bottom: 1px solid #ececec;
  line-height: 25px;

  padding-bottom: 3px;
  margin-bottom: 4px;
}

.weekly-product__field {
  width: 95px;
}

.weekly-product__value {
  width: 165px;
}

.weekly-product__photo {
  margin-bottom: 24px;
}

.weekly-product__photo-image {
  display: block;
}

.weekly-product__order-wrapper {
  text-align: center;
}

.weekly-product__price {
  display: block;

  font-family: 'Open Sans Bold', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #444444;

  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .weekly-product {
    width: 768px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet-padding;
    margin: 0 auto;

    &::before {
      width: 768px;
    }
  }

  .weekly-product__titles {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    order: 1;

    margin-bottom: 50px;
  }

  .weekly-product__title,
  .weekly-product__subtitle {
    margin: 0;
  }

  .weekly-product__title {
    width: 501px;

    font-size: 43px;
  }

  .weekly-product__subtitle {
    width: 167px;

    text-align: center;

    padding-left: 50px;
  }

  .weekly-product__info-wrapper {
    width: 334px;
    height: 270px;

    order: 2;
  }

  .weekly-product__photo {
    width: 334px;

    order: 3;
  }

  .weekly-product__order-wrapper {
    width: 334px;

    order: 4;

    margin-top: -137px;
  }
}

@media (min-width: $dekstop-width) {
  .weekly-product {
    width: 1150px;

    padding: 0;
    padding-top: 130px;
    padding-left: 225px;
    padding-right: 50px;

    &::before {
      width: 1150px;
    }
  }

  .weekly-product__titles {
    position: relative;

    z-index: 100;

    width: 1050px;

    margin: 0;
    margin-left: -175px;
  }

  .weekly-product__title,
  .weekly-product__subtitle {
    width: auto;
  }

  .weekly-product__title {
    order: 2;
  }

  .weekly-product__subtitle {
    width: 175px;

    order: 1;
  }

  .weekly-product__info-wrapper {
    width: 350px;

    margin-top: 60px;
  }

  .weekly-product__photo {
    width: 525px;
    height: 636px;

    margin-top: -60px;
  }

  .weekly-product__order-wrapper {
    width: 350px;
  }
}
