.weekly-product {
  outline: 1px solid red;

  padding-top: 30px;
  padding-bottom: 35px;
}

.weekly-product__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  margin-bottom: 10px;
}

.weekly-product__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;

  margin: 0;
  margin-bottom: 30px;
}

.weekly-product__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  margin: 0;
  margin-bottom: 30px;
}

.weekly-product__parameters {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  margin-bottom: 30px;
}

.weekly-product__parameters--border {
  border-bottom: 1px solid #ececec;
}

.weekly-product__photo {
  margin-bottom: 30px;
}

.weekly-product__price {
  display: flex;

  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;

  margin-bottom: 30px;
}

.weekly-product__order {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;

  text-transform: uppercase;
  text-decoration: none;
}
